:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --white-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --primery-bg-color: #ffffff;
    --secondary-bg-color: #2F303A;
    --thirty-bg-color: #F5F4FA;

}

body {
    color: var(--primery-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.section-title {
    color: var(--title-text-color);
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: inherit;
    text-align: center;
    letter-spacing: inherit;
}

/*---------------------HEADER-------------------*/

.logo {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
}

.logo-accent {
    color: var(--accent-text-color);
}

.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
} 

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-text-color);
}

.site-nav .current {
    color: var(--accent-text-color);
}

.site-contacts .link {
    color: var(--primery-text-color);
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-contacts .link:hover,
.site-contacts .link:focus {
    color: var(--accent-text-color);
}

/*--------------------HERO-------------------*/

.hero-section {
    background-color: var(--secondary-bg-color);
}

.hero-title {
    color: var(--white-text-color);
    font-size: 44px;
    text-align: center;
}

.btn {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;   
}

.btn:hover,
.btn:focus {
    background: #188CE8;
}

/*---------------------OUR FEATURES-------------------*/

.features-subtitle {
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/*---------------------OUR TEAM-------------------*/

.team-section {
    background-color: var(--thirty-bg-color);
}

.subtitle {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.team-profession {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

/*---------------------PORTFOLIO-------------------*/

.portfolio-btn {
    color: var(--title-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--thirty-bg-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.portfolio-menu .current {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-subtitle {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}
.portfolio-text {
    color: var(--primery-text-color);
    font-size: 14px;
    line-height: 1.87;
}


/*---------------------FOOTER-------------------*/

.footer {
    background-color: var(--secondary-bg-color);
}
.footer .logo {
    color: var(--white-text-color);
}

.site-contacts .address,
.site-contacts .footer-link {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.site-contacts .address {
    color: var(--white-text-color);
}

.site-contacts .footer-link {
    color: rgba(255, 255, 255, 0.6);
}




